@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

:root {
    --Dark-navy:               #1a2a33;
    --Semi-dark-navy:          #1f3641;
    --Silver:                  #a8bfc9;
    --Silver-hover:            #dbe8ed;
    --Light-yellow:            #f2b137;
    --Light-blue:              #31c3bd;
    --Light-yellow-hover:      #ffc860;
    --Light-blue-hover:        #65e9e4;
    --On-hover-transition:     250ms ease-in-out;
    --Cell-size:               140px;
    --X-mark:                  url(./images/icon-x.svg);
    --X-mark-hover:            url(./images/icon-x-outline.svg);
    --Circle-mark:             url(./images/icon-o.svg);
    --Circle-mark-hover:       url(./images/icon-o-outline.svg);
    --Box-shadow-large-button: 0px -8px 0px 0px #10212a inset;
    --Box-shadow-light:        0px -8px 0px 0px #6b8997 inset;
  }
  
*,
*::before,
*::after {
    margin:     0;
    padding:    0;
    box-sizing: border-box;
}

body {
    font-family:           'Outfit', sans-serif;
    background-color:      var(--Dark-navy);
    color:                 var(--Silver);
    display:               flex;
    justify-content:       center;
    align-items:           center;
    height:                100vh;
    font-feature-settings: "clig" off, "liga" off;
}

.logo {
    width:  fit-content;
    height: 2rem;
}

header {
    background-color: var(--Dark-navy);
    width:            100%;
    text-align:       center;
}

button {
    width:      28.75rem;
    height:     4.1875rem;
    transition: var(--On-hover-transition);
    border:     none;
    cursor:     pointer;
}

#game-end-message.show,
#restart-game-message.show,
#game-tied-message.show,
#new-game-vs-player-alert.show {
    display: flex;
}

#game-tied-message h1 {
    margin-top: 0;
}

#main-content,
#game-board {
    justify-content: center;
    align-items:     center;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.secondary-container {
    display:         flex;
    flex-direction:  column;
    width:           28.75rem;
    align-items:     center;
    justify-content: center;
    margin:          0 auto;
    color:           #fff;
    background:      var(--Dark-navy);
}

.third-container {
    display:               grid;
    grid-template-columns: repeat(2, 2fr);
    height:                4.5rem;
    padding:               0 .5rem 0 .5rem;
    justify-content:       center;
    align-items:           center;
    background:            var(--Dark-navy);
    border-radius:         .625rem;
}

.pick-player-button {
    display:         flex;
    width:           fit-content;
    height:          3.375rem;
    border:          none;
    padding:         0;
    background:      none;
    justify-content: center;
    align-items:     center; 
}

.pick-player-container {
    margin:        2.5rem auto;
    background:    var(--Semi-dark-navy);
    border-radius: .9375rem;
    padding:       .5rem auto;
    box-shadow:    0px -8px 0px 0px #10212a inset;
}

.icon-x,
.icon-circle {
    width:          12.375rem;
    height:         3.375rem;
    border-radius:  .625rem;
    font-family:    'Mochiy Pop One', sans-serif;
    margin:         0;
    padding-bottom: .9375rem;
    font-size:      2.5rem;
    color:          var(--Silver);
    transition:     var(--On-hover-transition);
}

.icon-x:hover,
.icon-circle:hover {
    color: var(--Silver-hover);
}

.light-background {
    background: var(--Silver);
    color:      var(--Dark-navy);
}

.dark-background {
    background: var(--Dark-navy);
    color:      var(--Silver);
}

.icon-x:hover:not(.light-background),
.icon-circle:hover:not(.light-background) {
    background: var(--Semi-dark-navy);
}

.header {
    color:          var(--Silver);
    text-transform: uppercase;
    margin:         1.875rem auto;
}

.font-one {
    font-size:      1rem;
    font-weight:    700;
    letter-spacing: .0625rem;
    margin:         1.5rem auto;
}

.font-two {
    font-size:      .875rem;
    font-weight:    500;
    letter-spacing: .0547rem;
    opacity:        .5;
    margin:         1.0625rem 0 1.875rem 0;
}

.button-yellow {
    background:    var(--Light-yellow);
    margin-bottom: 1.25rem;
    border-radius: .9375rem;
    box-shadow:    0px -8px 0px 0px #cc8b13 inset;
}

.button-yellow:hover {
    background: var(--Light-yellow-hover);
}

.button-blue {
    background:    var(--Light-blue);
    margin-bottom: 1.25rem;
    border-radius: .9375rem;
    box-shadow:    0px -8px 0px 0px #118c87 inset;
}

.button-blue:hover {
    background: var(--Light-blue-hover);
}

.button-font {
    color:          var(--Dark-navy);
    font-size:      1.25rem;
    font-weight:    700;
    font-style:     normal;
    line-height:    normal;
    letter-spacing: .0781rem;
    text-transform: uppercase;
}

.game-board-grid > *,
.score-board,
.game-board-navbar {
    display:               grid;
    grid-template-columns: repeat(3, 1fr);
    margin:                1.25rem;
    gap:                   1.25rem;
}

.game-board-grid span {
    display:       flex;
    width:         var(--Cell-size);
    height:        var(--Cell-size);
    border-radius: .9375rem;
    background:    var(--Semi-dark-navy);
    box-shadow:    0px -8px 0px 0px #10212a inset;
    cursor:        pointer;
}

.navbar-item {
    width:      100%;
    text-align: center;
}

.navbar-logo {
    display:     flex;
    text-align:  start;
    align-items: center;
}

.turnButton-color {
    filter: brightness(0) saturate(100%) invert(80%) sepia(17%) saturate(264%)
    hue-rotate(153deg) brightness(91%) contrast(92%);
    width:  1.25rem;
    height: 1.25rem;
}

.turn-icon {
    width:        1rem;
    height:       1rem;
    margin-right: .625rem;
}

.turn-button {
    display:         inline-flex;
    width:           8.75rem;
    height:          3.125rem;
    justify-content: center;
    align-items:     center;
    border-radius:   .625rem;;
    background:      var(--Semi-dark-navy);
    box-shadow:      0px -48px 0px 0px #10212a inset;
    color:           var(--Silver);
    text-align:      center;
    font-size:       1rem;
    font-weight:     700;
    letter-spacing:  .0625rem;
    text-transform:  uppercase;
    line-height:     normal;
}

.turn-button p {
    margin: 0;
}

.restart {
    display:         flex;
    justify-content: end;
}

.restart-button {
    width:         3.25rem;
    height:        3.25rem;
    background:    var(--Silver);
    border-radius: .625rem;
    box-shadow:    0px 4px 0px 0px #608997 inset;
    transition:    var(--On-hover-transition);
}

.restart-button:hover {
    background: var(--Silver-hover);
}

.restart-button i {
    font-size: 1.25rem;
}

.score-board {
    margin: 0 0 1.25rem 0;
}

.score-board-item {
    display:         flex;
    width:           8.75rem;
    height:          4.5rem;
    border-radius:   .9375rem;
    text-align:      center;
    justify-content: center;
    align-items:     center;
    color:           var(--Dark-navy);
    font-size:       .9375rem;
    font-weight:     500;
    letter-spacing:  .0586rem;
    text-transform:  uppercase;
}

.score-item {
    display:         inline-flex;
    flex-direction:  column;
    width:           100%;
    height:          3.5rem;
    justify-content: center;
    align-items:     center;
}

.score-item p {
    margin: 0;
}

.player-one-container {
    background: var(--Light-blue);
}

.ties-score-container {
    background: var(--Silver);
}

.player-two-container {
    background: var(--Light-yellow);
}

.number-score {
    font-weight:    700;
    font-size:      1.5rem;
    letter-spacing: .0781rem;
}

.game-end-message,
.restart-game-message,
.game-tied-message,
.new-game-vs-player-alert {
    display:         none;
    position:        fixed;
    top:             0;
    left:            0;
    right:           0;
    bottom:          0;
    width:           100%;
    height:          100%;
    background:      rgba(0, 0, 0, .5);
    justify-content: center;
    align-items:     center;
    flex-direction:  column;
}

.game-end-container,
.restart-game-container,
.new-game-vs-player-alert,
.game-tied-container {
    display;         flex;
    flex-direction:  column;
    justify-content: center;
    align-items:     center;
    text-align:      center;
    width:           100%;
    height:          16.625rem;
    background:      var(--Semi-dark-navy);
}

.game-end-container p,
.restart-game-container p,
.game-tied-container p {
    color:  var(--Silver);
    margin: 0;
}

.game-end-container h1,
.restart-game-container h1,
.new-game-vs-player-alert h1,
.game-tied-container h1 {
    font-size:      2.5rem;
    font-weight:    700;
    letter-spacing: .1563rem;
    text-transform: uppercase;
}

.restart-game-container h1,
.new-game-vs-player-alert h1,
.game-tied-container h1 {
    color: var(--Silver);
    margin: 1.4375rem 0 1.9375rem 0;
}

.game-end-container h1 {
    color: var(--Light-yellow);
}

.game-end-buttons {
    display: flex;
 }

.quit-button,
.quit-tied-button {
    width:        4.75rem;
    height:       3.25rem;
    background:   var(--Silver);
    color:        var(--Dark-navy);
    margin-right: 1rem;
    box-shadow:   0px -4px 0px 0px #6b8997 inset;
}

.cancel-restart-button,
.back-button,
.next-round-button,
.next-round-tied-button,
.confirm-restart-button,
.game-end-container p,
.restart-game-container p,
.game-tied-container p,
.quit-button,
.quit-tied-button {
    font-size:      1rem;
    font-weight:    700;
    letter-spacing: .0625rem;
    text-transform: uppercase;
    text-align:     center;
    border-radius:  .625rem;
}

.cancel-restart-button,
.back-button {
    width:        8.6875rem;
    height:       3.25rem;
    background:   var(--Silver);
    color:        var(--Dark-navy);
    margin-right: 1rem;
    box-shadow:   0px -4px 0px 0px #608997 inset;
}

.cancel-restart-button:hover,
.back-button:hover {
    background: var(--Silver-hover);
}

.next-round-button,
.next-round-tied-button,
.confirm-restart-button {
    width:      9.125rem;
    height:     3.25rem;
    background: var(--Light-yellow);
    color:      var(--Dark-navy);
    box-shadow: 0px -4px 0px 0px #cc8b13 inset;
}

#x-aiPlayer,
#x-humanPlayer {
    background-image:    var(--X-mark);
    background-position: center;
    background-repeat:   no-repeat;
    pointer-events:      none;
}

#circle-aiPlayer,
#circle-humanPlayer {
    background-image:    var(--Circle-mark);
    background-position: center;
    background-repeat:   no-repeat;
    pointer-events:      none;
}

.game-end-header-large img {
    width:  4rem;
    height: 4rem;
}

@media (max-width: 36rem) {
    .secondary-container {
        width: fit-content;
    }

    .pick-player-container {
        width:    20.4375rem;
        height:   fit-content;
        position: relative;
    }

    .pick-players {
        width:  17.4375rem;
        height: 4.5rem;
    }

    .pick-player-button {
        width: 100%;
    }

    .button-yellow,
    .button-blue {
        width:  20.4375rem;
        height: 3.5rem;
    }

    .game-board-grid {
        margin-top: 1.25rem;
    }

    .game-board-navbar .navbar-item {
        width:  6rem;
        height: 2.5rem;
    }

    .turn-button {
        width:       6rem;
        height:      2.5rem;
        font-weight: 500;
        font-size:   .875rem;
    }

    .game-board-grid span {
        width:  6rem;
        height: 6rem;        
    }

    .score-board-item {
        width:  6rem;
        height: 4rem;
    }

    .game-end-container h1 {
        font-size: 1.7em;
        margin:    1.5625rem 1.5625rem;
    }

    .game-end-buttons {
        margin-top: .625rem;
    }

    #x-aiPlayer,
    #x-humanPlayer,
    #circle-aiPlayer,
    #circle-humanPlayer {
        background-size: 2.5rem 2.5rem;
    }

    .restart-button {
        width:  2.5rem;
        height: 2.5rem;
    }

    .restart-button i {
        font-size: 1rem;
    }

    .turnButton-color {
        width:  1rem;
        height: 1rem;
    }

    .game-end-header-large img {
        width:  2rem;
        height: 2rem;
    }
}
